@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");
.home-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.home-img {
  height: 100vh;
  width: 100vw;
  position: absolute;
  object-fit: cover;
}
