@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body,
button,
input,
textarea {
  font-family: "Slackey", Arial, sans-serif;
}

@font-face {
  font-family: "krabby";
  src: url("./assets/fonts/Krabby Patty.ttf") format("truetype");
}
